.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

.header .logo a,
.header .navbar a,
.header .profile a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.header .logo a:hover,
.header .navbar a:hover,
.header .profile a:hover {
  color: slategray;
}

.navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: 190px;
}

.navbar ul li {
    margin: 0 40px;
}

.profile {
    margin-left: auto;
}