.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    padding: 10px;
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.search-input:focus {
    border-color: #007bff;
}

.search-select {
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #ddd;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s;
    transform: translateX(-114px);
}

.search-select:focus {
    border-color: #007bff;
}

.search-button {
    padding: 10px 20px;
    height: 42px;
    width: 111px;
    border-radius: 50px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    transform: translateX(-115px);
}

.search-button:hover {
    background-color: #0056b3;
}

.streamer-info-containerr {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.streamer-info-containerr:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
}

.streamer-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.stream-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}

.streamer-username {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.followers-count {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
}

.watch-stream-link {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.watch-stream-link:hover {
    background-color: #0056b3;
}

