.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input {
    padding: 10px;
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.search-input:focus {
    border-color: #007bff;
}

.search-select {
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #ddd;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s;
    transform: translateX(-114px);
}

.search-select:focus {
    border-color: #007bff;
}

.search-button {
    padding: 10px 20px;
    height: 42px;
    width: 111px;
    border-radius: 50px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    transform: translateX(-115px);
}

.search-button:hover {
    background-color: #0056b3;
}
